{% extends "base.html" %}

{% block content %}

<!--说明：-->
<!--<script src="/assets/js/dark.js"></script>-->
    <script src="/assets/js/echarts.js"></script>
<!--    <script src="/assets/ECharts/incubator-echarts/src/echarts.js"></script>-->
    <script src="/assets/js/echarts-gl.js"></script>
<!--    <script src="/assets/js/echarts-gl.min.js"></script>-->
<!--    <script src="/assets/js/dataTool.min.js"></script>-->
    <script src="/assets/ECharts/incubator-echarts/dist/extension/dataTool.min.js"></script>
<!--    <script src="/assets/js/dat.gui.min.js"></script>-->
    <script src="/assets/ECharts/incubator-echarts/test/lib/dat.gui.min.js"></script>
    <script src="/assets/ECharts/incubator-echarts/theme/vintage.js"></script>
    <script src="/assets/ECharts/incubator-echarts/theme/dark.js"></script>
    <script src="/assets/ECharts/incubator-echarts/theme/macarons.js"></script>
    <script src="/assets/ECharts/incubator-echarts/theme/infographic.js"></script>
    <script src="/assets/ECharts/incubator-echarts/theme/shine.js"></script>
    <script src="/assets/ECharts/incubator-echarts/theme/roma.js"></script>

<script type="text/javascript">
    function calMax(arr) {
        let max = 0;
        arr.forEach((el) => {
          el.forEach((el1) => {
            if (!(el1 === undefined || el1 === '')) {
              if (max < el1) {
                max = el1;
              }
            }
          })
        })
        let maxint = Math.ceil(max / 9.5);//不让最高的值超过最上面的刻度
        let maxval = maxint * 10;//让显示的刻度是整数
        return maxval;
  }

  //计算最小值
  function calMin(arr) {
    let min = 0;
    arr.forEach((el) => {
      el.forEach((el1) => {
        if (!(el1 === undefined || el1 === '')) {
          if (min > el1) {
            min = el1;
          }
        }
      })
    })
    let minint = Math.floor(min / 10);
    let minval = minint * 10;//让显示的刻度是整数
    return minval;
  }

<!--        &lt;!&ndash;每隔一段时间查询一次后台计算进度&ndash;&gt;-->
<!--        var sitv = setInterval(function(){-->
<!--            $.get(-->
<!--                &lt;!&ndash;URL待更新&ndash;&gt;-->
<!--                '{{ Common_URL.Query_ProgressBarValue_InspectionLAMRecords_By_MissionID }}'+missionID+'/',-->
<!--                function(res, textStatus)-->
<!--                {-->
<!--                    document.getElementById("progress_bar").style.width=res['progress_rate'];-->
<!--                    if(if_reload==true && res['progress_rate']=='100%'){-->
<!--                        alert('reload Inspection from database');-->
<!--                        clearInterval(sitv);-->
<!--                    }-->
<!--                }-->
<!--            )-->
<!--        }, 3000);-->
</script>

<!--<div id="page-inner">-->
<!--    <div class="row">-->

<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
<!--                -->
<!--                <div class="col-md-6">-->
<!--                    <div class="panel panel-default">-->
<!--                        <div class="panel-heading">-->
<!--                            &lt;!&ndash;                            <div class="row">&ndash;&gt;-->
<!--                            &lt;!&ndash;                               &ndash;&gt;-->
<!--                            &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                        </div>-->
                        <div class="panel-body">
                            <div id="3D_main" style="width: 100%;height:800px;">
                                <body style="height: 100%; margin: 0">
                                <div id="3Dcontainer" style="height: 100%"></div>

                                </body>
                            </div>
                        </div>
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->

<!--    </div>-->
<!--</div>-->
<script type="text/javascript">
    function load()
    {
        this;
        $("#page-wrapper").css('min-height','800px');
        $("#page-inner").css('min-height','800px');
<!--        onInit_2D_Chart();-->
        onInit_3D_Chart2();
<!--        彩色可选数据  3D-->
<!--        onInit_3D_Chart();-->

        onLoadData();
    }



    function onInit_3D_Chart2(){
        var dom = document.getElementById("3Dcontainer");
        <!--vintage, dark, macarons infographic, shine, roma-->
<!--        var myChart_3D = echarts.init(dom,'macarons');-->
        myChart_3D = echarts.init(dom,'dark');

        myChart_3D.showLoading({
            text: '数据正在努力加载...',
            textStyle: {fontSize : 30 , color: '#444' },
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });

    }

    function onLoadData()
    {
        $.get('/LAMProcessData/QueryData/AnalyseLAMProcess_ScanningRate3D/',
            {'MissionID_list':'{{ MissionID_list }}'},
            function (data) {
                <!--3D绘图-->
                onLoadData_3D(data['data_3D']);

            }
        );
    }

    function onInit_3D_Chart()
    {
        var dom = document.getElementById("3Dcontainer");
        myChart_3D = echarts.init(dom,'shine');          //黑色主题

        myChart_3D.showLoading({
            text: '数据正在努力加载...',
            textStyle: {fontSize : 30 , color: '#444' },
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });
    }



    function onLoadData_3D(data)
    {
        function getXYZRangeOnExtent(data) {
<!--        '''[[MissionID, ProductCode, XValue, YValue, ZValue, ScanningRate],[],[],...]'''-->
            var X_Max = -Infinity;
            var Y_Max = -Infinity;
            var Z_Max = -Infinity;
            var X_Min = Infinity;
            var Y_Min = Infinity;
            var Z_Min = Infinity;
            for (var i = 0; i < data.length; i++) {
                var item = data[i];
                var X_Val = item[2];
                var Y_Val = item[3];
                var Z_Val = item[4];
                X_Max = Math.max(X_Val, X_Max);
                Y_Max = Math.max(Y_Val, Y_Max);
                Z_Max = Math.max(Z_Val, Z_Max);
                X_Min = Math.min(X_Val, X_Min);
                Y_Min = Math.min(Y_Val, Y_Min);
                Z_Min = Math.min(Z_Val, Z_Min);
            }
            return {
                X_Max: X_Max,
                Y_Max: Y_Max,
                Z_Max: Z_Max,
                X_Min: X_Min,
                Y_Min: Y_Min,
                Z_Min: Z_Min,
            };
        }

        range = getXYZRangeOnExtent(data);
        box_length = Math.max(range.Y_Max-range.Y_Min, range.X_Max-range.X_Min);

        box_range = new Array(
            formatInt((range.X_Max+range.X_Min-box_length)/2,2,false),formatInt((range.X_Max+range.X_Min-box_length)/2,2,false)+formatInt(box_length,2,true)+100,
            formatInt((range.Y_Max+range.Y_Min-box_length)/2,2,false),formatInt((range.Y_Max+range.Y_Min-box_length)/2,2,false)+formatInt(box_length,2,true)+100,
            );


        var symbolSize = 2;
        myChart_3D.hideLoading();
        option = {
            grid3D: {
                postEffect:{
			        enable:false					//开启特效
				    },
				viewControl:{
						projection: 'orthographic',		//默认为透视投影'perspective'，也支持设置为正交投影'orthographic'
						autoRotate: true,				//自动旋转
						autoRotateDirection: 'ccw',     //默认是 'cw' 从上往下看是顺时针 也可以取 'ccw'逆时针
						autoRotateSpeed: 10,				//默认10 自转速度
						autoRotateAfterStill: 10,		//默认3秒 鼠标静止操作后恢复自动旋转的时间间隔
						damping: 0.6,					//鼠标进行旋转，缩放等操作时的迟滞因子，在大于 0 的时候鼠标在停止操作后，视角仍会因为一定的惯性继续运动（旋转和缩放）
						animation: true,				//是否开启动画
						animationDurationUpdate: 1000,	//过渡动画的时长
						animationEasingUpdate: 'cubicInOut' //过渡动画的缓动效果
					},
				postEffect:{
						enable:false					//是否开启后处理特效，默认关闭 不能开  浏览器会卡
					},
				axisLine: {
                    lineStyle: { color: '#fff' }
                    },
                axisPointer: {
                    lineStyle: { color: '#fff' }
                    },

            },
<!--            visualMap: {-->
<!--                show: true,-->
<!--                min: 200,-->
<!--                max: 1200,-->
<!--                inRange: {-->
<!--                    symbolSize: [20,1],-->
<!--&lt;!&ndash;                    color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026'],&ndash;&gt;-->
<!--                    color: ['#FFFF00',' #00CCCC' ,'#00FFFF'],-->
<!--                    colorAlpha: [1, 0.2]-->
<!--                },-->
<!--                            textStyle: {-->
<!--                                color: '#ffffff'-->
<!--                            }-->
<!--            },-->
            visualMap: {
                type: 'piecewise',
                pieces: [
                    {min: 1250, label: '>1250(mm/min)', symbolSize:0.5, color: 'grey'},
                    {min: 1000, max: 1250, label: '1000~1250(mm/min)', symbolSize:1, color:'#00FF00'},
                    {min: 800, max: 1000, label: '800~1000(mm/min)', symbolSize:1, color:'#00CC00'},
                    {min: 600, max: 800, label: '600~800(mm/min)', symbolSize:1.5, color:'#339900'},
                    {min: 400, max: 600, label: '400~600(mm/min)', symbolSize:2, color:'#CC9900'},
                    {min: 200, max: 400, label: '200~400(mm/min)', symbolSize:3, color:'#FF9900'},
                    {max: 200, label: '<200(mm/min)', symbolSize:4, color:'#FF0000'}
                ],
                textStyle: {color: '#ffffff'}
            },
            tooltip: {},
            title: {
                text: '激光成形过程位置坐标-瞬时扫描速率散点图',
<!--            subtext: '3D{{ smalltitle|upper }} ',-->
                left: 'center'
            },
            xAxis3D: {
                name: 'XValue',
                axisLabel: {
                            show: true,
                            textStyle: {
                                color: '#ffffff'
                            }
                        },
                min: box_range[0],
                max: box_range[1],
<!--                min: -300,-->
<!--                max: 300,-->
                },
            yAxis3D: {
                name: 'YValue',
                axisLabel: {
                            show: true,
                            textStyle: {
                                color: '#ffffff'
                            }
                        },
                min: box_range[2],
                max: box_range[3],
<!--                min: -200,-->
<!--                max: 400,-->
                },
            zAxis3D: {
                name: 'ZValue',
                axisLabel: {
                            show: true,
                            textStyle: {
                                color: '#ffffff'
                            }
                        }
                },
<!--                min: box_range[4],-->
<!--                max: box_range[5],-->
                min: 'dataMin',
                max: 'dataMax',

<!--            [[MissionID, ProductCode, XValue, YValue, ZValue, ScanningRate],[],[],...]-->
<!--            dataset: {-->
<!--                dimensions: [-->
<!--                    'MissionID',-->
<!--                    'ProductCode',-->
<!--                    'XValue',-->
<!--                    'YValue',-->
<!--                    'ZValue',-->
<!--                    'ScanningRate',-->
<!--                ],-->
<!--                source: data-->
<!--            },-->
            series: [
                {
                    type: 'scatter3D',
<!--                    symbolSize: symbolSize,-->
                    data: data.map(function (item, idx) {
                        var size = 0;
                        if(item[5]>1300){
                            size = 0.5;
                        }
                        else if(item[5]>850){
                        size = 1;
                        }
                        else if(item[5]>650){size = 20;
                        }
                        else if(item[5]>450){size = 30;
                        }
                        else{size = 40;
                        }
                        return [item[2],item[3],item[4],item[5]];
<!--                        return [item[2],item[3],item[4],size,item[5]];-->
                    }),


                }
            ]
        };
        myChart_3D.setOption(option);
    }


</script>
{% endblock %}