<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LMPM Data Server 激光增材制造过程记录系统</title>
    <!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!--<script src="/assets/js/morris/morris.js"></script>-->
    <!-- Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>-->
    <link href="/assets/css/font-Open Sans.css" rel="stylesheet"/>
    <!-- ECharts-->
    <link href="/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <script src="/assets/js/echarts.js"></script>
</head>
<body onload="load()">
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <a class="navbar-brand" href=""><strong>LMPM</strong>
                <small>DataServer</small>
            </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <strong>欢迎回来，<b>{{ user.username }}!</b></strong>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Doe</strong>
                                <span class="pull-right text-muted">
                                            <em>Today</em>
                                    </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                            <em>Yesterday</em>
                                        </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                            <em>Yesterday</em>
                                        </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 1</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 2</strong>
                                    <span class="pull-right text-muted">28% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                        <span class="sr-only">28% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 3</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 4</strong>
                                    <span class="pull-right text-muted">85% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                        <span class="sr-only">85% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{{ Common_URL.UserProfile }}"><i class="fa fa-user fa-fw"></i>用户信息</a>
                    </li>
                    <li><a href="{{ Common_URL.ResetPassword }}"><i class="fa fa-gear fa-fw"></i>修改密码</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ Common_URL.Logout }}"><i class="fa fa-sign-out fa-fw"></i>注销</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a href="{{ Common_URL.EditBasicInfomation }}"><i class="fa fa-edit"></i>基础信息设定<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ Common_URL.Back_URL_workshop }}">厂房</a>
                        </li>
                        <li>
                            <a href="{{ Common_URL.Back_URL_worksection }}">工段</a>
                        </li>
                        <li>
                            <a href="{{ Common_URL.Back_URL_computer }}">生产现场电脑</a>
                        </li>
                        <li>
                            <a href="{{ Common_URL.Back_URL_cncstatuscategory }}">数控系统界面类别</a>
                        </li>
                        <li>
                            <a href="{{ Common_URL.Back_URL_lammaterial }}">材料类别</a>
                        </li>
                        <li>
                            <a href="{{ Common_URL.Back_URL_rawstockcategory }}">原材料类别</a>
                        </li>
                        <li>
                            <a href="{{ Common_URL.Back_URL_samplingposition }}">取样部位类别</a>
                        </li>
                        <li>
                            <a href="{{ Common_URL.Back_URL_samplingdirection }}">取样方向类别</a>
                        </li>
                        <li>
                            <a href="{{ Common_URL.Back_URL_heattreatmentstate }}">热处理状态</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ Common_URL.EditBasicInfomation }}"><i class="fa fa-dashboard"></i>工艺信息设定<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">

                        <li>
                            <a href="{{ Common_URL.Back_URL_productcategory }}">产品类别</a>
                        </li>
                        <li>
                            <a href="{{ Common_URL.Back_URL_lamproductionworktype }}">工序类别</a>
                        </li>
                        <li>
                            <a href="{{ Common_URL.Back_URL_lamtechniqueinstruction }}">工艺文件实例</a>
                        </li>
                        <!--<li>-->
                        <!--<a href="{{ Common_URL.Back_URL_lamprodcate_techinst }}">工艺文件与产品类别关联</a>-->
                        <!--</li>-->
                        <li>
                            <a href="{{ Common_URL.Back_URL_lamtechinstserial }}">工序实例</a>
                        </li>
                        <li>
                            <a href="{{ Common_URL.Back_URL_lamprocessparameters }}">工艺参数包</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href=""><i class="fa fa-desktop"></i>生产过程记录<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ Common_URL.Back_URL_lamproduct }}">产品实例</a>
                        </li>
                        <li>
                            <a href="{{ Common_URL.Back_URL_lamprocessmission }}">生产任务</a>
                        </li>
                        <li>
                            <a href="{{ Common_URL.LamProcessMission_TimeCutRecords }}">已有数据按生产任务划分</a>
                        </li>
                        <li>
                            <a href="{{ Common_URL.Back_URL_rawstock }}">原材料库存记录</a>
                        </li>
                        <li>
                            <a href="{{ Common_URL.Back_URL_rawstockflow }}">原材料发放回收记录</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href=""><i class="fa fa-qrcode"></i>质量检验记录<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ Common_URL.Back_URL_InspectionRecords_RawStockPhyChemTest }}">原材料理化检验记录</a>
                        </li>
                        <li>
                            <a href="{{ Common_URL.Back_URL_InspectionRecords_ProductPhyChemTest }}">产品理化检验记录</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href=""><i class="fa fa-sitemap"></i>激光成形班组<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {% for index in Common_URL.Back_URL_WorkSection_List %}
                            <!--{{ index }}-->
                            <li>
                                <a href="{{ index.0 }}">{{ index.1 }} : {{ index.2 }}</a>
                            </li>
                            <!--{{ forloop.counter }}-->

                        {% endfor %}

                    </ul>
                </li>
                <li>
                    <a href=""><i class="fa fa-bar-chart-o"></i>过程记录过检<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ Common_URL.Back_URL_InspectionRecords_ProcessMissionInspection_LAMProcess }}">激光成形过程记录交检</a>
                        </li>
                    </ul>
                </li>

                <!--<li>-->
                    <!--<a href=""><i class="fa fa-sitemap"></i>激光成形过程参数实时采集<span-->
                            <!--class="fa arrow"></span></a>-->
                    <!--<ul class="nav nav-second-level">-->
                        <!--<li>-->
                            <!--<a href="">气氛氧含量信息</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="">激光器信息</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="">运动信息</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->

                <!--<li>-->
                    <!--<a href="ui-elements.html"><i class="fa fa-desktop"></i> UI Elements</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="chart.html"><i class="fa fa-bar-chart-o"></i> Charts</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="tab-panel.html"><i class="fa fa-qrcode"></i> Tabs & Panels</a>-->
                <!--</li>-->

                <!--<li>-->
                    <!--<a href="table.html"><i class="fa fa-table"></i> Responsive Tables</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="form.html"><i class="fa fa-edit"></i> Forms </a>-->
                <!--</li>-->


                <!--<li>-->
                    <!--<a href="/DrawData/"><i class="fa fa-sitemap"></i> 实测参数记录<span class="fa arrow"></span></a>-->
                    <!--<ul class="nav nav-second-level">-->
                        <!--<li>-->
                            <!--<a href="/DrawData/Oxygen/">氧含量</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">送粉率</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">激光器功率</a>-->
                        <!--</li>-->

                    <!--</ul>-->
                <!--</li>-->

            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">

        {% block content %}{% endblock %}

        <!-- /. PAGE WRAPPER  -->
    </div>
</div>
<!-- /. PAGE WRAPPER  -->
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/assets/js/jquery-1.10.2.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>
<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="/assets/js/jquery.metisMenu.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="/assets/js/dataTables/jquery.dataTables.js"></script>
<script src="/assets/js/dataTables/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable();
        $('#dataTables-example2').dataTable();
    });
    <!--控件边框提示-->
    function NoticeInput(objid, colortype)
    {
        if(colortype=='red')
        {
            colorvalue = "#aa0000";
            colorvalue1 = "#FF5050";
            <!--colorvalue2 = "#FF7C7C";-->
        }
        else if(colortype=='blue')
        {
            colorvalue = "#0000aa";
            colorvalue1 = "#66B3FF";
            <!--colorvalue2 = "#8CC6FF";-->
        }
        else if(colortype=='green')
        {
            colorvalue = "#00aa00";
            colorvalue1 = "#96FF96";
            <!--colorvalue2 = "#BDFFBD";-->
        }
        $("#"+objid).animate({backgroundColor:colorvalue1,color: "#fff"},500);
        <!--$("#"+objid).animate({backgroundColor:colorvalue2,color: "#fff"},400);-->
        <!--$("#"+objid).animate({backgroundColor:colorvalue1,color: "#fff"},400);-->
        $("#"+objid).animate({backgroundColor:"#fff",color: "#000000"},500);
    }
    function shownewpage(templatename,ifMax=false, window_W=600,window_H=700)
    {
        if(ifMax==true){
            window_W = (screen.availWidth)
            window_H = (screen.availHeight-40)
        }
        window.open(templatename,'content','width='+window_W+',height='+window_H+',top=150,left=280, toolbar=yes, menubar=yes, scrollbars=auto, resizable=no, location=no, status=no');
    }
    /**
	 * 获取元素的当前背景颜色
	 */
	function getBg(element) {//author: Longbill (www.longbill.cn)
		//dnew.cn修补
		var rgbToHex = function(rgbarray, array) {
			if (rgbarray.length < 3)
				return false;
			if (rgbarray.length == 4 && rgbarray[3] == 0 && !array)
				return 'transparent';
			var hex = [];
			for ( var i = 0; i < 3; i++) {
				var bit = (rgbarray[i] - 0).toString(16);
				hex.push((bit.length == 1) ? '0' + bit : bit);
			}
			return array ? hex : '#' + hex.join('');
		}
		//---------------
		if (typeof element == "string")
			element = document.getElementById(element);
		if (!element)
			return;
		cssProperty = "backgroundColor";
		mozillaEquivalentCSS = "background-color";
		if (element.currentStyle)
			var actualColor = element.currentStyle[cssProperty];
		else {
			var cs = document.defaultView.getComputedStyle(element, null);
			var actualColor = cs.getPropertyValue(mozillaEquivalentCSS).match(
					/\d{1,3}/g);
			//-----
			actualColor = (actualColor) ? rgbToHex(actualColor) : "transparent";
		}
		if (actualColor == "transparent" && element.parentNode)
			return arguments.callee(element.parentNode);
		if (actualColor == null)
			return "#ffffff";
		else
			return actualColor;
	}

	Array.prototype.indexOf = function(val) {
        for (var i = 0; i < this.length; i++) {
            if (this[i] == val) return i;
        }
        return -1;
    };
    Array.prototype.remove = function(val) {
        var index = this.indexOf(val);
        if (index > -1) {
            this.splice(index, 1);
        }
    };
    <!--字符串转时间戳-->
    function datatimestr_to_timestamp(datetimestr){
        date = datetimestr.substring(0,19);
        date = date.replace(/-/g,'/'); //必须把日期'-'转为'/'
        var timestamp = new Date(date).getTime();
        return timestamp;
    }
    <!--//使用for循环进行等待操作-->
    <!--function sleep(delay) {-->
        <!--var start = (new Date()).getTime();-->
        <!--while((new Date()).getTime() - start < delay) {-->
            <!--continue;-->
        <!--}-->
    <!--}-->

</script>
<!--Custom Js -->
<script src="/assets/js/custom-scripts.js"></script>

</body>
</html>
