{% extends "base.html" %}

{% block content %}
<!--<script src="jquery.min.js"></script>-->
<script type="text/javascript" src="/assets/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/matching.js"></script>

<!--<style>-->
<!--.div {-->
<!--width: 402px;-->
<!--height: 34px;-->
<!--margin:200px auto;-->
<!--padding:0;-->
<!--position:relative;-->
<!--}-->
<!--.div input {-->
<!--width: 400px;-->
<!--height: 30px;-->
<!--line-height: 30px;-->
<!--font:14px arial;-->
<!--color:#333;-->
<!--border: 1px solid #b8b8b8;-->
<!--padding:2px 0px 2px 8px;-->
<!--border-radius:5px;-->
<!--box-shadow:0 0 16px 0 rgba(53,53,53,.2);-->
<!--}-->
<!--#search-button {-->
<!--position: absolute;-->
<!--height: 30px;-->
<!--width: 30px;-->
<!--top: 3px;-->
<!--right: -6px;-->
<!--background-color: #fff;-->
<!--cursor: pointer;-->
<!--}-->
<!--.search-img {-->
<!--position: absolute;-->
<!--height: 0px;-->
<!--width: 0px;-->
<!--top: 13px;-->
<!--right: 10px;-->
<!--overflow: hidden;-->
<!--cursor: pointer;-->
<!--border-width: 5px;-->
<!--border-style: solid dashed dashed;-->
<!--border-color: #acacac transparent transparent;-->
<!--background-repeat: no-repeat;-->
<!--opacity: .6;-->
<!--}-->
<!--.div span.up {-->
<!--border-width: 5px;-->
<!--border-style: dashed dashed solid;-->
<!--border-color: transparent transparent #acacac;-->
<!--top: 7px;-->
<!--}-->
<!--.div select {-->
<!--width: 410px;-->
<!--height: 200px;-->
<!--margin: 0px;-->
<!--padding: 2px 0px;-->
<!--outline: none;-->
<!--border: 1px solid #b8b8b8;-->
<!--position:absolute;-->
<!--top:35px;-->
<!--left:0;-->
<!--box-shadow:0 0 16px 0 rgba(53,53,53,.2);-->
<!--}-->
<!--.div select option {-->
<!--height:18px;-->
<!--line-height:18px;-->
<!--cursor: default;-->
<!--font:14px arial;-->
<!--padding: 2px 8px;-->
<!--}-->
<!--.div select option:hover{-->
<!--background:#f0f0f0;-->
<!--}-->


<!--</style>-->
<script>
function load()
{
    {% ifequal form.modelname 'LAM_TechInst_Serial'%}
    <!--工序在工艺文件中的实例化-->
        var techid=document.getElementById("id_technique_instruction").value;
        loadTableData(techid);
    {% endifequal %}
}

</script>
<div id="page-inner">

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                {{ form.title }}
                <small>{{ operate|upper }}</small>
            </h1>
        </div>


        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            辅助选择
                        </div>
                        <div class="panel-body">

                                    <!--辅助选择下拉菜单-->
                                    <div class="form-group">
                                        <div class="row">
                                        {% for field in form %}
                                            {% for label in form.AuxiliarySelection%}
                                                    {% ifequal field.name label %}
                                                        <div class="col-lg-3">
                                                            <label>{{ field.label }}</label>
                                                            {{ field |safe }}
                                                        </div>
                                                    {% endifequal %}
                                            {% endfor %}
                                        {% endfor %}
                                        </div>
                                    </div>

                        </div>
                        <div class="panel-heading">
                            {{ operate|upper }}
                        </div>
                        <div class="panel-body">

                            <form role="form" method="post" action="">{% csrf_token %}

                                <div class="form-group">
                                    <label>条目ID</label>
                                    <!--<input class="form-control">-->
                                    <input class="form-control" id="disabledInput" type="text"
                                           placeholder="{{ form.itemid }}" disabled="">
                                </div>

                                {% for field in form %}
                                    {% for label in form.OriginalFields%}
                                            {% ifequal field.name label %}
                                                <div class="form-group">
                                                    <label>{{ field.label }}</label>
                                                    {{ field |safe }}
                                                </div>
                                            {% endifequal %}
                                    {% endfor %}
                                {% endfor %}
                                {% if form.techinst_datalist %}
                                <!--辅助筛选工艺文件-->
                                <datalist id="techinst_list" style="display:none;">
                                    {% for data in form.techinst_datalist %}
                                    <option value={{ data.id }} label='{{ data|safe }}'></option>
                                    <!--<option value='{{ data|safe }}' label={{ data.id }}></option>-->
                                    {% endfor %}
                                </datalist>
                                {% endif %}
                                {% if form.worktype_datalist %}
                                <!--辅助筛选工序-->
                                <datalist id="worktype_list" style="display:none;">
                                    {% for data in form.worktype_datalist %}
                                    <option value={{ data.id }} label='{{ data|safe }}'></option>
                                    <!--<option value='{{ data|safe }}' label={{ data.id }}></option>-->
                                    {% endfor %}
                                </datalist>
                                {% endif %}
                                {% if form.productcode_datalist %}
                                <!--辅助筛选产品实例编号  LAMProcessMissionForm_Edit-->
                                <datalist id="product_code_list" style="display:none;">
                                    {% for data in form.productcode_datalist %}
                                    <option value={{ data|safe }} label='{{ data|safe }}'></option>
                                    <!--<option value='{{ data|safe }}' label={{ data.id }}></option>-->
                                    {% endfor %}
                                </datalist>
                                {% endif %}
                                {% if form.RawStockBatchNumber_datalist %}
                                <!--辅助筛选原材料实例编号  RawStockPhyChemTestForm_New-->
                                <datalist id="RawStock_BatchNumber_list" style="display:none;">
                                    {% for data in form.RawStockBatchNumber_datalist %}
                                    <option value={{ data.batch_number|safe }} label='{{ data|safe }}'></option>
                                    <!--<option value='{{ data|safe }}' label={{ data.id }}></option>-->
                                    {% endfor %}
                                </datalist>
                                {% endif %}
                                <script type="text/javascript">
                                    function check_FilterTechinstField(techinst_id) {
                                        var data_id_list = [
                                        {% for data in form.techinst_datalist %}
                                            {{ data.id }},
                                        {% endfor %}
                                        -1
                                        ];
                                        if (techinst_id in data_id_list)
                                        {
                                            Tech_Inst_Field = document.getElementById("id_technique_instruction");
                                            Tech_Inst_Field.value = techinst_id;
                                            loadTableData(techinst_id);
                                            <!--shake_by_id("id_technique_instruction")-->
                                            NoticeInput('id_technique_instruction','blue');
                                        }
                                    }
                                    function check_FilterWorktypeField(worktype_id) {
                                        var data_id_list = [
                                        {% for data in form.worktype_datalist %}
                                            {{ data.id }},
                                        {% endfor %}
                                        -1
                                        ];
                                        if (worktype_id in data_id_list)
                                        {
                                            Work_Type_Field = document.getElementById("id_serial_worktype");
                                            Work_Type_Field.value = worktype_id;
                                            <!--shake_by_id("id_serial_worktype")                                            -->
                                            NoticeInput('id_serial_worktype','blue');
                                        }
                                    }

                                    <!--function select_ProductCategory(product_category_id){-->
                                        <!--lamTechInstList = load_LAMTechInst_By_ProductCategory(product_category_id);-->

                                    <!--}-->



                                </script>
                                <script type="text/javascript">
                                    <!--function NoticeInput(objid){-->
                                        <!--$("#"+objid).animate({backgroundColor:"#aa0000",color: "#fff"},500);-->
                                        <!--$("#"+objid).animate({backgroundColor:"#fff",color: "#000000"},500);-->
                                    <!--}-->
                                    <!--function shake_by_id(shake_id,u){-->
                                        <!--var b=0;-->
                                        <!--&lt;!&ndash;alert(shake_id);&ndash;&gt;-->
                                        <!--Shake_Field = document.getElementById(shake_id);-->
                                        <!--u=setInterval(-->
                                            <!--function(){-->
                                                <!--Shake_Field.style.width=(100-5*(Math.sin(8*0.0087266*b++)))+'%';-->
                                                <!--if(b>180)-->
                                                <!--{-->
                                                    <!--clearInterval(u);-->
                                                    <!--b=0-->
                                                <!--}-->
                                            <!--},1-->
                                        <!--)-->
                                    <!--}-->




                                </script>


                                {% ifequal save_success|upper 'TRUE' %}
                                <div class="alert alert-success">
                                    <strong>保存成功！</strong>
                                </div>
                                {% endifequal %}
                                {% ifequal save_success|upper 'FALSE' %}
                                <div class="alert alert-danger">
                                    <strong>保存失败！</strong>
                                    {{ form.error_messages|safe }}
                                    {{ form.errors }}
                                </div>
                                {% endifequal %}
                                {% ifequal form.modelname 'LAMTechniqueInstruction'%}
                                <div id="WarningMsg" class="alert alert-warning" style="display:none">

                                </div>
                                <div class="panel-heading">
                                </div>
                                {% endifequal %}
                                <!--<button type="edit" class="btn btn-default">编辑</button>-->

                                <button type="submit" class="btn btn-success">保存</button>

                                <button type="reset" class="btn btn-primary">重置</button>
                                <a href={{ Back_URL }}>
                                    <button type="button" class="btn btn-primary" name="item_back" formaction=''>返回
                                    </button>
                                </a>
                                <!--<a href="http://google.com" class="button">Continue</a>-->
                            </form>

                            <!--</div>-->

                            <!--</div>-->
                            <!--/.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.panel -->
                <!--{{ form.modelname }}-->
                {% ifequal form.modelname 'PhysicochemicalTest_Mission' %}
                <script type="text/javascript">
                    function load_WorkType_By_LAMTechInst(LAMTechInstID)
                    {
                        if(LAMTechInstID=='')
                        {
                            return;
                        }
                        <!--根据工艺文件更新工序实例-->
                        $.get(
                            '{{ Common_URL.Query_WorkType_By_LAMTechInst_filter_PhyChemTest }}'+LAMTechInstID+'/',
                            {'LAMTechInstID':LAMTechInstID},
                            function(data, textStatus)
                            {
                                this;
                                var select_obj=document.getElementById('id_work_type');
                                select_obj.options.length=0;
                                for(var ever in data) {
                                    select_obj.options.add(new Option(data[ever]['worktype'],data[ever]['id']));
                                }
                                <!--shake_by_id("id_work_type");-->

                                refresh_techinst_serial();
                            }
                        );
                    }
                    <!--根据工艺文件、工序等信息刷新form中“下达任务工序”条目-->
                    function refresh_techinst_serial()
                    {
                        <!--辅助选择工序-->
                        var select_worktype_obj=document.getElementById('id_work_type');
                        <!--form表单中的工序-->
                        var select_techinst_serial_obj=document.getElementById('id_LAM_techinst_serial');

                        select_techinst_serial_obj.value = select_worktype_obj.value;
                        <!--shake_by_id("id_LAM_techinst_serial");-->
                        NoticeInput('id_LAM_techinst_serial','blue');
                    }


                    function refresh_product()
                    {
                        if(document.getElementById('id_product_code').value=='')
                        {
                            return;
                        }
                        <!--根据辅助选择中零件编号条目刷新form中“零件编号”条目-->
                        $.get(
                            '{{ Common_URL.Query_ProductID_By_ProductCode }}'+document.getElementById('id_product_code').value+'/',
                            {'ProductCode':document.getElementById('id_product_code').value},
                            function(data, textStatus)
                            {
                                this;
                                <!--辅助选择工序-->
                                <!--var select_productcode_obj=document.getElementById('id_product_code');-->
                                <!--form表单中的工序-->
                                var select_LAMproduct_obj=document.getElementById('id_LAM_product');

                                select_LAMproduct_obj.value = data['productid'];
                                loadTableData_ProductMission(data['productid']);
                                <!--shake_by_id("id_LAM_product");-->
                                NoticeInput('id_LAM_product','blue');

                            }
                        );

                        <!--根据辅助选择中零件编号条目刷新辅助选择中“工艺文件”及“工序”条目-->
                        $.get(
                            '{{ Common_URL.Query_LAMTechniqueInstruction_By_ProductCode }}'+document.getElementById('id_product_code').value+'/',
                            {'ProductCode':document.getElementById('id_product_code').value},
                            function(data, textStatus)
                            {
                                this;
                                var select_obj=document.getElementById('id_technique_instruction');
                                select_obj.options.length=0;
                                for(var ever in data) {
                                    select_obj.options.add(new Option(data[ever]['lamtechniqueinstruction'],data[ever]['id']));
                                }
                                load_WorkType_By_LAMTechInst(select_obj.value);
                                <!--shake_by_id("id_technique_instruction");-->
                            }
                        );

                    }

                    function refresh_rawstock()
                    {
                        if(document.getElementById('id_RawStock_batchnumber').value=='')
                        {
                            return;
                        }
                        <!--根据辅助选择中原材料批号条目刷新form中“原材料实例”条目-->
                        $.get(
                            '{{ Common_URL.Query_RawStockID_By_RawStockBatchNumber }}'+document.getElementById('id_RawStock_batchnumber').value+'/',
                            {'RawStockBatchNumber':document.getElementById('id_RawStock_batchnumber').value},
                            function(data, textStatus)
                            {
                                this;
                                <!--辅助选择工序-->
                                <!--var select_productcode_obj=document.getElementById('id_product_code');-->
                                <!--form表单中的工序-->
                                var select_RawStock_obj=document.getElementById('id_RawStock');

                                select_RawStock_obj.value = data['rawstockid'];
                                loadTableData_RawStockMission(data['rawstockid']);
<!--                                ?????-->
                                NoticeInput('id_RawStock','blue');
                            }
                        );
                    }




                    function loadTableData_ProductMission(productID)
                    {

                        $.get(
                            '{{ Common_URL.Query_ProductPhyChemTestMission_Preview }}'+productID+'/',
                            {'ProductID':productID},
                            function(data, textStatus)
                            {
                                this;
                                refreshTableData(data);

                            }
                        );
                    }
                    function loadTableData_RawStockMission(productID)
                    {

                        $.get(
                            '{{ Common_URL.Query_RawStockPhyChemTestMission_Preview }}'+productID+'/',
                            {'ProductID':productID},
                            function(data, textStatus)
                            {
                                this;
                                refreshTableData(data);

                            }
                        );
                    }
                </script>
                {% endifequal %}

                {% ifequal form.modelname 'LAMProcessMission'%}
                <script type="text/javascript">

                    function load_WorkType_By_LAMTechInst(LAMTechInstID)
                    {
                        if(LAMTechInstID=='')
                        {
                            return;
                        }
                        <!--根据工艺文件更新工序实例-->
                        $.get(
                            '{{ Common_URL.Query_WorkType_By_LAMTechInst }}'+LAMTechInstID+'/',
                            {'LAMTechInstID':LAMTechInstID},
                            function(data, textStatus)
                            {
                                this;
                                var select_obj=document.getElementById('id_work_type');
                                select_obj.options.length=0;
                                for(var ever in data) {
                                    select_obj.options.add(new Option(data[ever]['worktype'],data[ever]['id']));
                                }
                                <!--shake_by_id("id_work_type");-->

                                refresh_techinst_serial();
                            }
                        );
                    }
                    <!--根据工艺文件、工序等信息刷新form中“下达任务工序”条目-->
                    function refresh_techinst_serial()
                    {
                        <!--辅助选择工序-->
                        var select_worktype_obj=document.getElementById('id_work_type');
                        <!--form表单中的工序-->
                        var select_techinst_serial_obj=document.getElementById('id_LAM_techinst_serial');

                        select_techinst_serial_obj.value = select_worktype_obj.value;
                        <!--shake_by_id("id_LAM_techinst_serial");-->
                        NoticeInput('id_LAM_techinst_serial','blue');
                    }


                    function refresh_product()
                    {
                        if(document.getElementById('id_product_code').value=='')
                        {
                            return;
                        }
                        <!--根据辅助选择中零件编号条目刷新form中“零件编号”条目-->
                        $.get(
                            '{{ Common_URL.Query_ProductID_By_ProductCode }}'+document.getElementById('id_product_code').value+'/',
                            {'ProductCode':document.getElementById('id_product_code').value},
                            function(data, textStatus)
                            {
                                this;
                                <!--辅助选择工序-->
                                <!--var select_productcode_obj=document.getElementById('id_product_code');-->
                                <!--form表单中的工序-->
                                var select_LAMproduct_obj=document.getElementById('id_LAM_product');

                                select_LAMproduct_obj.value = data['productid'];
                                loadTableData_ProductMission(data['productid']);
                                <!--shake_by_id("id_LAM_product");-->
                                NoticeInput('id_LAM_product','blue');

                            }
                        );

                        <!--根据辅助选择中零件编号条目刷新辅助选择中“工艺文件”及“工序”条目-->
                        $.get(
                            '{{ Common_URL.Query_LAMTechniqueInstruction_By_ProductCode }}'+document.getElementById('id_product_code').value+'/',
                            {'ProductCode':document.getElementById('id_product_code').value},
                            function(data, textStatus)
                            {
                                this;
                                var select_obj=document.getElementById('id_technique_instruction');
                                select_obj.options.length=0;
                                for(var ever in data) {
                                    select_obj.options.add(new Option(data[ever]['lamtechniqueinstruction'],data[ever]['id']));
                                }
                                load_WorkType_By_LAMTechInst(select_obj.value);
                                <!--shake_by_id("id_technique_instruction");-->
                            }
                        );

                    }
                    function loadTableData_ProductMission(productID)
                    {

                        $.get(
                            '{{ Common_URL.Query_LAMProductMission_Preview }}'+productID+'/',
                            {'ProductID':productID},
                            function(data, textStatus)
                            {
                                this;
                                refreshTableData(data);

                            }
                        );
                    }

                </script>
                {% endifequal %}


                {% if form.previewtablefields %}
                <!--仅对工序实例化有效-->
                <div class="col-lg-6">

                    <div class="panel panel-default">

                        <div class="panel-heading">
                            {{ form.previewtableTitle }}预览
                        </div>

                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" >
                                    <thead>
                                    <tr>

                                        {% for field_label in form.previewtablefields.values %}
                                        <th>{{ field_label }}</th>
                                        {% endfor %}

                                    </tr>
                                    </thead>
                                    <tbody id="tbd">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>

                <!-- /.panel -->
                <script type="text/javascript">
                    function refreshTableData(data)
                    {
                                var tbody=document.getElementById('tbd');
                                var rowNum=tbody.rows.length;

                                if(rowNum>0)
                                {
                                    for(i=0;i<rowNum;i++)
                                    {
                                        <!--table.deleteRow(i);-->
                                        tbody.deleteRow(i);
                                        rowNum=rowNum-1;
                                        i=i-1;
                                    }
                                }
                                <!--alert(table.rows.length)-->
                                for(var ever in data) {
                                    var row=tbody.insertRow(-1);
                                    for(var item in data[ever]){
                                        var c1=row.insertCell(-1);
                                        c1.innerHTML=data[ever][item];
                                    }
                                }
                    }

                    function loadTableData(techid)
                    {
                        if(techid==''){return;}
                        $.get(
                            '{{ Common_URL.Query_LAMTechInst_Preview }}'+techid+'/',
                            {'TechInstID':techid},
                            function(data, textStatus)
                            {
                                this;
                                refreshTableData(data);

                            }
                        );
                    }





                </script>

                {% endif %}
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>


{% endblock %}