{% extends "base.html" %}

{% block content %}

<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                {{ form.title }}
                <small>信息维护</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ form.title }}明细表
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <form role="form" method="GET" action="alert">{% csrf_token %}
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>

                                <tr>
                                    <th align="center" style="width: 35px">选择</th>
                                    <th align="center" style="width: 35px">ID</th>
                                    {% for field in form %}
                                    <th align="center">{{ field.label }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for record in all_entries %}
                                <tr>
                                    <td align="center">
                                        <div class="radio">
                                            <input type="radio" name="item_id" id="optionsRadios{{record.id}}"
                                                   value="{{record.id}}">
                                        </div>
                                    </td>
                                    {% for field in record.values %}
                                    <td>{{ field }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <a href='send'>
                                <button type="button" class="btn btn btn-success" name="item_add">发放原材料</button>
                            </a>
                            <button type="submit" class="btn btn-primary" name="item_retrive" formaction='retrive/'>选中回收
                            </button>
                            <button type="submit" class="btn btn-primary" name="item_edit" formaction='edit/'>选中编辑
                            </button>
                            <button type="button" class="btn btn-danger" name="item_delete"
                                    onclick="confirmDelete()">
                                选中冻结
                            </button>
                            {% if messages %}
                            <script>
                                            {% for msg in messages %}
                                                alert('{{ msg.message }}');
                                            {% endfor %}





                            </script>
                            {% endif %}
                        </form>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
    <!-- /. ROW  -->


</div>
<script type="text/javascript">
        var selectItemID
        var selectItemName=''
        var ItemList_id=new Array(
        {% for record in all_entries %}
        {{ record.id }},
        {% endfor %}
        );
        var ItemList_name=new Array(
        {% for record in all_entries %}
        "{{ record|safe }}",
        {% endfor %}
        );



        function RefreshValue(){
            <!--var selectItemID = -1-->
            var Item=document.getElementsByName("item_id");
            for (var i = 0, length = Item.length; i < length; i++) {
                if (Item[i].checked) {
                    // 弹出选中值
                    selectItemID = Item[i].value
                    <!--alert(Item[i].value);-->
                    // 选中后退出循环
                    break;
                }
            }
            <!--selectItemID=item_id.value-->
            for (var i=0;i<ItemList_id.length;i++)
                {
                    if (ItemList_id[i]==selectItemID)
                    {
                        selectItemName=ItemList_name[i];
                        break;
                    }
                }
        }
        //弹出一个询问框，有确定和取消按钮
        function confirmDelete() {
            RefreshValue();
            if(selectItemID == undefined)
            {
                alert("请选择拟冻结的条目");
                return;
            }
            txt='请确认是否冻结此记录:\n'+selectItemName;

            <!--//利用对话框返回的值 （true 或者 false）-->
            if (confirm(txt))
            {
                <!--window.location.href='delete/'+selectItemID+'/';-->
                params = {
                    'id':selectItemID,
                    'name':selectItemName
                };
                Post('delete/',params);
            }
        }











</script>
{% endblock %}