<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LMPM Data Server 激光增材制造过程记录系统</title>
    <!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>

    <!-- Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>-->
    <link href="/assets/css/font-Open Sans.css" rel="stylesheet"/>
    <!-- ECharts-->
    <link href="/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <script src="/assets/js/echarts.js"></script>
<!--    <script src="/assets/ECharts/incubator-echarts/src/echarts.js"></script>-->
    <script src="/assets/js/echarts-gl.js"></script>
<!--    <script src="/assets/js/echarts-gl.min.js"></script>-->
<!--    <script src="/assets/js/dataTool.min.js"></script>-->
    <script src="/assets/ECharts/incubator-echarts/dist/extension/dataTool.min.js"></script>
<!--    <script src="/assets/js/dat.gui.min.js"></script>-->
    <script src="/assets/ECharts/incubator-echarts/test/lib/dat.gui.min.js"></script>
    <script src="/assets/ECharts/incubator-echarts/theme/vintage.js"></script>
    <script src="/assets/ECharts/incubator-echarts/theme/dark.js"></script>
    <script src="/assets/ECharts/incubator-echarts/theme/macarons.js"></script>
    <script src="/assets/ECharts/incubator-echarts/theme/infographic.js"></script>
    <script src="/assets/ECharts/incubator-echarts/theme/shine.js"></script>
    <script src="/assets/ECharts/incubator-echarts/theme/roma.js"></script>

<!--    <link href="/assets/jquery.filer/css/jquery.filer.css" type="text/css" rel="stylesheet" />-->
<!--    <link href="/assets/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css" type="text/css" rel="stylesheet" />-->
    <!--文件上传控件-->
    <script src="/assets/jquery.filer/js/jquery-latest.min.js"></script>
<!--    <script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<!--    <script src="/assets/jquery.filer/js/jquery.filer.min.js"></script>-->

    <link href="/assets/chosen_v1.8.7/chosen.css" type="text/css" rel="stylesheet" />
<!--    <script type="text/javascript" src="/assets/js/jquery-1.10.2.js"></script>-->
<!--    <script type="text/javascript" src="/assets/chosen_v1.8.7/jquery-1.4.4.min.js"></script>-->
    <script type="text/javascript" src="/assets/chosen_v1.8.7/chosen.jquery.js"></script>

<!--    <script src="/assets/chosen_v1.8.7/docsupport/jquery-3.2.1.min.js" type="text/javascript"></script>-->
    <script src="/assets/chosen_v1.8.7/chosen.jquery.js" type="text/javascript"></script>
    <script src="/assets/chosen_v1.8.7/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/chosen_v1.8.7/docsupport/init.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/assets/js/matching.js"></script>

    <!--&lt;!&ndash;时间css start&ndash;&gt;-->
    <!--<link href="/assets/datetimepicker/jiaoben6136/css/bootstrap-datetimepicker.css" rel="stylesheet">-->
    <!--<link href="/assets/datetimepicker/jiaoben6136/css/font-awesome.min.css" rel="stylesheet">-->
    <!--&lt;!&ndash;<link rel="stylesheet" type="text/css" media="screen" href="/assets/datetimepicker/jiaoben6136/css/bootstrap.min.css"/>&ndash;&gt;-->
    <!--&lt;!&ndash;时间css end&ndash;&gt;-->
    <!--<link href="/assets/datetimepicker/jiaoben6136/css/animate.min.css" rel="stylesheet">-->
    <!--<link href="/assets/datetimepicker/jiaoben6136/css/prettify-1.0.css" rel="stylesheet">-->
    <!--<link href="/assets/datetimepicker/jiaoben6136/css/base.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" type="text/css" href="/assets/datetimepicker/jiaoben6136/css/default.css">-->
    <!--<script type="text/javascript" src="/assets/datetimepicker/jiaoben6136/js/jquery-2.1.1.min.js"></script>-->
    <!--<script type="text/javascript" src="/assets/datetimepicker/jiaoben6136/js/bootstrap.min.js"></script>-->
    <!--&lt;!&ndash;时间js start&ndash;&gt;-->
    <!--<script src="/assets/datetimepicker/jiaoben6136/js/moment-with-locales.js"></script>-->
    <!--<script src="/assets/datetimepicker/jiaoben6136/js/bootstrap-datetimepicker.js"></script>-->
    <!--&lt;!&ndash;时间js end&ndash;&gt;-->

</head>
<script>
    var bgcolor_hightlight = "#337ab7"
    var fontcolor_hightligt = "#fff"
    var bgcolor_odd = "#f9f9f9"
    var bgcolor_even = "#ffffff"
    var fontcolor = "#000"
    <!--控件边框提示-->
    function NoticeInput(objid, colortype)
    {
        if(colortype=='red')
        {
            colorvalue = "#aa0000";
            colorvalue1 = "#FF5050";
            <!--colorvalue2 = "#FF7C7C";-->
        }
        else if(colortype=='blue')
        {
            colorvalue = "#0000aa";
            colorvalue1 = "#66B3FF";
            <!--colorvalue2 = "#8CC6FF";-->
        }
        else if(colortype=='green')
        {
            colorvalue = "#00aa00";
            colorvalue1 = "#96FF96";
            <!--colorvalue2 = "#BDFFBD";-->
        }
        $("#"+objid).animate({backgroundColor:colorvalue1,color: "#fff"},500);
        <!--$("#"+objid).animate({backgroundColor:colorvalue2,color: "#fff"},400);-->
        <!--$("#"+objid).animate({backgroundColor:colorvalue1,color: "#fff"},400);-->
        $("#"+objid).animate({backgroundColor:"#fff",color: "#000000"},500);
    }

    <!--onload时给复合表格增加清除样式功能，需要更新table_id+'_select_Array'列表-->
    function AddTableClearStyleFun(table_id){
        var newf = function(){
                <!--清空表格高亮样式-->
                $('#'+table_id).dataTable();
                TableRemoveAttribute_ByID(table_id);
                <!--点亮列表中的行-->
                varname = table_id+'_select_Array';
                varname = varname.replace('-','_')
                try{
                   //在这里运行代码
                    for(var _index in window[varname]){
                        $("#"+window[varname][_index][0]).animate({backgroundColor:bgcolor_hightlight,color: fontcolor_hightligt},100);
                        try{$("#"+window[varname][_index][1]).prop("checked", "checked");}catch(err){this;}
                    }
                }
                catch(err)
                {this;}
                $('#'+table_id).dataTable();
        }
        document.getElementById(table_id).onchange = newf
        document.getElementById(table_id+"_length").onmouseup = newf
        document.getElementById(table_id+"_filter").onkeyup = newf
        document.getElementById(table_id+"_paginate").onmouseup = newf
    }



    <!--清除复合表格高亮显示等样式-->
    function TableRemoveAttribute_ByID(table_id){
        var tb =document.getElementById(table_id);
        var rows = tb.rows;
        for(var i = 0; i<rows.length; i++ ){
           rows[i].removeAttribute("style");
        }
    }

    <!--设置row显示隐藏-->
    function changeRowDisplay(rowID) {
        var row = document.getElementById(rowID);
        if (row != null) {
            if (row.style.display=='none'){
                row.style.display = "block";
            }
            else{
                row.style.display = "none";
            }
        }
    }
    function setRowDisplay(rowID, value) {
        var row = document.getElementById(rowID);
        row.style.display = value;
    }


    <!--//使用for循环进行等待操作-->
    <!--function sleep(delay) {-->
        <!--var start = (new Date()).getTime();-->
        <!--while((new Date()).getTime() - start < delay) {-->
            <!--continue;-->
        <!--}-->
    <!--}-->
    function replaceAll(str, find, replace) {
         return str.replace(new RegExp(find, 'g'), replace);
    }

    /**
     * 使用循环的方式判断一个元素是否存在于一个数组中
     * @param {Object} arr 数组
     * @param {Object} value 元素值
     */
    function isInArray(arr,value){
        for(var i = 0; i < arr.length; i++){
            if(value === arr[i]){
                return true;
            }
        }
        return false;
    }

    Array.prototype.indexOf = function(val) {
        for (var i = 0; i < this.length; i++) {
            if (this[i] == val) return i;
        }
        return -1;
    };
    Array.prototype.remove = function(val) {
        var index = this.indexOf(val);
        if (index > -1) {
            this.splice(index, 1);
        }
    };
    function S4() {
       return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
    };
    // Generate a pseudo-GUID by concatenating random hexadecimal.
    function guid() {
       return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
    };
    <!--字符串转时间戳-->
    function datatimestr_to_timestamp(datetimestr){
        date = datetimestr.substring(0,19);
        date = date.replace(/-/g,'/'); //必须把日期'-'转为'/'
        var timestamp = new Date(date).getTime();
        return timestamp;
    }
    <!--时间戳转日期，用法：new Date(1542274800000).Format('yy-MM-dd hh:mm:ss'); //"2018-11-15 17:40:00"-->
    Date.prototype.Format = function (fmt) {
        var o = {
                "M+": this.getMonth() + 1, // 月份
                "d+": this.getDate(), // 日
                "h+": this.getHours(), // 小时
                "m+": this.getMinutes(), // 分
                "s+": this.getSeconds(), // 秒
                "q+": Math.floor((this.getMonth() + 3) / 3), // 季度
                "S": this.getMilliseconds() // 毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + ""));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }


<!--发送Post请求-->
<!--用法：-->
<!--    params = {-->
<!--        'id':selectItemID,-->
<!--        'name':selectItemName-->
<!--    };-->
<!--    Post('delete/',params);-->
    function Post(URL, PARAMTERS) {
            //创建form表单
            var temp_form = document.createElement("form");
            temp_form.action = URL;
            //如需打开新窗口，form的target属性要设置为'_blank'
            temp_form.target = "_self";
            temp_form.method = "post";
            temp_form.style.display = "none";
            //添加参数
            for (var item in PARAMTERS) {
                var opt = document.createElement("textarea");
                opt.name = item;
                opt.value = PARAMTERS[item];
                temp_form.appendChild(opt);
            }
            document.body.appendChild(temp_form);
            //提交数据
            temp_form.submit();
        }
</script>
<!-- JS Scripts-->
<!-- jQuery Js -->
<!--此处去掉后datetimepicker可用??-->
<!--<script src="/assets/js/jquery-1.10.2.js"></script>-->
<script src="/assets/js/jquery-ui.min.js"></script>
<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="/assets/js/jquery.metisMenu.js"></script>
<!--Custom Js -->
<script src="/assets/js/custom-scripts.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="/assets/js/dataTables/jquery.dataTables.js"></script>
<script src="/assets/js/dataTables/dataTables.bootstrap.js"></script>
<body >
<div id="wrapper">

    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <a class="navbar-brand" href=""><strong>LMPM</strong>
                <small>DataServer</small>
            </a>
        </div>
    </nav>
    <!--针对SubWindow，更改page-wrapper的margin属性，将左侧菜单处260px留白去除，最大化利用空间-->
    <div id="page-wrapper" style="margin:0px">
        {% block content %}


        {% endblock %}
    </div>


    <!-- /. PAGE WRAPPER  -->

</div>
<!-- /. PAGE WRAPPER  -->
<!-- /. WRAPPER  -->


<!--<script src="/assets/datetimepicker/jiaoben6136/js/base.js"></script>-->
<!-- end datetimepicker-->
<script>
    $(".chosen-select").chosen({
        no_results_text: "没有找到结果！",//搜索无结果时显示的提示
        search_contains:true,   //关键字模糊搜索，设置为false，则只从开头开始匹配
        allow_single_deselect:true, //是否允许取消选择
    })


<!--    $('#filer_input').filer({-->
<!--        changeInput: '<div class="jFiler-input-dragDrop"><div class="jFiler-input-inner"><div class="jFiler-input-icon"><i class="icon-jfi-folder"></i></div><div class="jFiler-input-text"><h3>点击本框</h3> <span style="display:inline-block; margin: 15px 0">或</span></div><a class="jFiler-input-choose-btn blue">浏览文件</a></div></div>',-->
<!--        showThumbs: true,-->
<!--        theme: "dragdropbox",-->

<!--        files: [-->
<!--            {-->
<!--                name: "appended_file.jpg",-->
<!--                size: 5453,-->
<!--                type: "image/jpg",-->
<!--                file: "http://dummyimage.com/720x480/f9f9f9/191a1a.jpg"-->
<!--            },-->
<!--            {-->
<!--                name: "appended_file_2.jpg",-->
<!--                size: 9453,-->
<!--                type: "image/jpg",-->
<!--                file: "http://dummyimage.com/640x480/f9f9f9/191a1a.jpg"-->
<!--            }-->
<!--        ],-->

<!--        {% verbatim %}-->
<!--        templates: {-->
<!--            box: '<ul class="jFiler-items-list jFiler-items-grid"></ul>',-->
<!--            item: '<li class="jFiler-item">\-->
<!--                        <div class="jFiler-item-container">\-->
<!--                            <div class="jFiler-item-inner">\-->
<!--                                <div class="jFiler-item-thumb">\-->
<!--                                    <div class="jFiler-item-status"></div>\-->
<!--                                    <div class="jFiler-item-info">\-->
<!--                                        <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name | limitTo: 25}}</b></span>\-->
<!--                                        <span class="jFiler-item-others">{{fi-size2}}</span>\-->
<!--                                    </div>\-->
<!--                                    {{fi-image}}\-->
<!--                                </div>\-->
<!--                                <div class="jFiler-item-assets jFiler-row">\-->
<!--                                    <ul class="list-inline pull-left">\-->
<!--                                        <li>{{fi-progressBar}}</li>\-->
<!--                                    </ul>\-->
<!--                                    <ul class="list-inline pull-right">\-->
<!--                                        <li><a class="icon-jfi-trash jFiler-item-trash-action"></a></li>\-->
<!--                                    </ul>\-->
<!--                                </div>\-->
<!--                            </div>\-->
<!--                        </div>\-->
<!--                    </li>',-->
<!--            itemAppend: '<li class="jFiler-item">\-->
<!--                            <div class="jFiler-item-container">\-->
<!--                                <div class="jFiler-item-inner">\-->
<!--                                    <div class="jFiler-item-thumb">\-->
<!--                                        <div class="jFiler-item-status"></div>\-->
<!--                                        <div class="jFiler-item-info">\-->
<!--                                            <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name | limitTo: 25}}</b></span>\-->
<!--                                            <span class="jFiler-item-others">{{fi-size2}}</span>\-->
<!--                                        </div>\-->
<!--                                        {{fi-image}}\-->
<!--                                    </div>\-->
<!--                                    <div class="jFiler-item-assets jFiler-row">\-->
<!--                                        <ul class="list-inline pull-left">\-->
<!--                                            <li><span class="jFiler-item-others">{{fi-icon}}</span></li>\-->
<!--                                        </ul>\-->
<!--                                        <ul class="list-inline pull-right">\-->
<!--                                            <li><a class="icon-jfi-trash jFiler-item-trash-action"></a></li>\-->
<!--                                        </ul>\-->
<!--                                    </div>\-->
<!--                                </div>\-->
<!--                            </div>\-->
<!--                        </li>',-->
<!--            itemAppendToEnd: false,-->
<!--            removeConfirmation: true,-->
<!--            _selectors: {-->
<!--                list: '.jFiler-items-list',-->
<!--                item: '.jFiler-item',-->
<!--                remove: '.jFiler-item-trash-action'-->
<!--            }-->
<!--        }-->
<!--        {% endverbatim %}-->
<!--    });-->


<!--    $('#filer_input').filer({-->
<!--        &lt;!&ndash;    limit: 3,&ndash;&gt;-->
<!--        &lt;!&ndash;    maxSize: 3,&ndash;&gt;-->
<!--            extensions: ['jpg', 'jpeg', 'png', 'gif', 'tiff'],-->
<!--            changeInput: true,-->
<!--            showThumbs: true,-->
<!--            addMore: true-->
<!--        });-->
</script>

</body>
</html>
