{% extends "base.html" %}

{% block content %}


<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                <small>修改密码</small>
            </h1>
        </div>

        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-6">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            修改密码
                        </div>
                        <div class="panel-body">
                            <!--<div class="row">-->
                            <!--<div class="col-lg-6">-->
                            <!--<form role="form" method="post" action="alert">{% csrf_token %}-->
                            <!--<button type="submit" class="btn btn-default" name="item_add" formaction='{{ baseURL }}/add'>新增</button>-->
                            <!--<button type="submit" class="btn btn-default" name="item_edit" formaction='{{ baseURL }}/edit'>选中编辑</button>-->
                            <!--<button type="submit" class="btn btn-default" name="item_delete" formaction='{{ baseURL }}/delete'>选中删除</button>-->
                            <!--</form>-->
                            <!--<label></label>-->
                            <form role="form" method="post" action="">{% csrf_token %}
                                <div class="form-group">
                                    <div class="form-group">
                                    <label>请输入旧密码</label>
                                    <input type="password" name="oldpswd"  class="form-control" placeholder="请输入旧密码"
                                    required="" id="oldpswd">
                                    </div>
                                    <div class="form-group">
                                    <label>请输入新密码</label>
                                    <input type="password" name="pswd"  class="form-control" placeholder="请输入新密码"
                                    required="" id="pswd">
                                    </div>
                                    <div class="form-group">
                                    <label>请再次输入密码</label>
                                    <input type="password" name="rptpswd"  class="form-control" placeholder="请再次输入新密码"
                                    required="" id="rptpswd">
                                    </div>

                                    <!--<input type="text" name="name" maxlength="30" required="" id="id_name">-->
                                    <!--<p class="help-block">Example block-level help text here.</p>-->
                                </div>
                                {% ifequal save_success|upper 'TRUE' %}
                                <div class="alert alert-success">
                                    <strong>保存成功！</strong> {{ success_messages }}
                                </div>
                                {% endifequal %}
                                {% ifequal save_success|upper 'FALSE' %}
                                <div class="alert alert-danger">
                                    <strong>保存失败！</strong> {{ error_messages }}
                                </div>
                                {% endifequal %}
                                <!--<button type="edit" class="btn btn-default">编辑</button>-->

                                <button type="submit" class="btn btn-success" onclick="return CheckPSWD();">保存</button>

                                <button type="reset" class="btn btn-primary">重置</button>

                                <!--<a href="http://google.com" class="button">Continue</a>-->
                            </form>

                            <!--</div>-->

                            <!--</div>-->
                            <!--/.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.panel -->



            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>

    <script type="text/javascript">
        function CheckPSWD(){
            <!--alert('111！');-->
            var pswd1_str = document.getElementById("pswd").value
            var pswd2_str = document.getElementById("rptpswd").value
            <!--alert(pswd1_str);-->
            if(pswd1_str!=pswd2_str){
                alert('两次输入的密码不一致，请重新输入！');
                return false;
            }
            if(pswd1_str=='' ){
                alert('密码不能为空！');
                return false;
            }
            if(pswd2_str=='' ){
                alert('密码不能为空！');
                return false;
            }
            return true;



        }
    </script>
    {% endblock %}